{% extends 'base.html' %} {% block head %}
<title>Proyecto1</title>
{% endblock %} {% block body %}
        <section class="hero is-fullheight is-link">
            <div class="hero-body">
                <div class="">
                  <p class="title">
                    Erick Daniel Antillón Chinchilla
                  </p>
                  <p class="subtitle">
                    Organizacion De Lenguajes Y Compiladores 2
                  </p>
                </div>
              </div>
          </section>
{% endblock %}
